# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database
database/attendance.db

# Dynamic runtime directories
dataset/
encodings/
attendance/*.csv
logs/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
